<link rel="stylesheet" href="contador-puntos.component.css">
<div class="contenedor_principal">
  <div class="ContadorPuntos1">
    <div class="Banderas">
      <div class="Amarilla">
        <div>
          <img class="Tarjeta" src="assets/Tarjeta Amarilla.png" alt="">
          <label for="">:1</label>
        </div>
        <button class="Agregar">
          <img class="Mas" src="assets/Mas.png" alt="">
        </button>
      </div>
      <div class="Roja">
        <div>
          <img class="Tarjeta" src="assets/Tarjeta Roja.png" alt="">
          <label for="">:1</label>
        </div>
        <button class="Agregar">
          <img class="Mas" src="assets/Mas.png" alt="">
        </button>
      </div>
    </div>
    <label for="">2</label>
    <button>Anotar</button>
  </div>
  <app-contador-tiempo/>
  <div class="ContadorPuntos2">
    <div class="Banderas">
      <div class="Amarilla">
        <div>
          <img class="Tarjeta"  src="assets/Tarjeta Amarilla.png" alt="">
          <label for="">:1</label>
        </div>
        <button class="Agregar">
          <img class="Mas"  src="assets/Mas.png" alt="">
        </button>
      </div>
      <div class="Roja">
        <div>
          <img class="Tarjeta" src="assets/Tarjeta Roja.png" alt="">
          <label for="">:1</label>
        </div>
        <button class="Agregar">
          <img class="Mas" src="assets/Mas.png" alt="">
        </button>
      </div>
    </div>
    <label for="">0</label>
    <button>Anotar</button>
  </div>
</div>
